:root {
    --second-color: #C9376E; 
    --first-color: white;

    --l-border-radius: .5rem;
    --m-border-radius: .25rem;

    --xxxl-font-size: 3rem;
    --xxl-font-size: 2.7rem;
    --xl-font-size: 2.4rem;
    --l-font-size: 2.1rem;
    --m-font-size: 1.8rem;
    --s-font-size: 1.5rem;
    --xs-font-size: 1rem;
    --xxs-font-size: .9rem;
    --xxs-font-size: .6rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('/assets/images/background.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: var(--first-color);
}

button, input {
    outline: none;
    border: none;
}

input {
    border-radius: var(--l-border-radius);
}

button, a {
    cursor: pointer;
}


/* HEADER STYLE */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

/* LOGO STYLE */
.logo {
    font-size: var(--xxxl-font-size);
    color: var(--first-color);
    font-family: 'Nova Round', cursives;
    align-self: center;
    margin: 0;
}

.logo span {
    color: var(--second-color);
}

.bg-fcolor-btn {
    border-radius: var(--l-border-radius);
    color: var(--telemagenta);
    border: 1px solid var(--second-color);
}

.bg-fcolor-btn:hover{
    background: var(--second-color);
    color: var(--first-color);
}

.bg-scolor-btn {
    border-radius: var(--l-border-radius);
    background: var(--second-color);
    color: var(--first-color);
}

.bg-scolor-btn:hover {
    border: 1px solid var(--second-color);
    background: transparent;
    color: var(--second-color);
}

/* FOOTER STYLE */
footer {
    display: grid;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--first-color);
    text-align: center;
}