:root {
    --second-color: #C9376E; 
    --first-color: white;

    --l-border-radius: .5rem;
    --m-border-radius: .25rem;

    --xl-font-size: 5rem;
    --l-font-size: 4rem;
    --m-font-size: 3rem;
    --s-font-size: 2.5rem;
    --xs-font-size: 1rem;
    --xxs-font-size: .9rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('/assets/images/background.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

ul {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    color: var(--first-color);
}

button {
    outline: none;
    border: none;
}

button, a {
    cursor: pointer;
}

.logo {
    font-size: var(--m-font-size);
    color: var(--first-color);
    font-family: 'Nova Round', cursives;
    align-self: center;
    margin: 0;
}

.logo span {
    color: var(--second-color);
}

footer {
    display: grid;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .container {
        width: 95%;
    }

    .logo {
        font-size: var(--s-font-size);
    }
}