.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--xs-font-size);
}

.join-btn {
    padding: 1rem 1.3rem;
}

.room-section {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-size: var(--xxxl-font-size);
    text-transform: uppercase;
    color: var(--first-color);
    text-align: center;
    width: 60%;
}

.hero-title span {
    color: var(--second-color);
}

.create-btn{
    width: 20rem;
    height: 5rem;
}

.create-btn, .join-btn {
    text-transform: uppercase;
}