body {
    pointer-events: none;
}

.room-code {
    color: var(--first-color);
}

.room-code:hover {
    color: var(--second-color);
    cursor: pointer;
}

.pop-up-container {
    width: 100vw;
    height: 100vh;
    opacity: .9;
    pointer-events: all;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    border-radius: var(--l-border-radius);
    width: 50%;
    padding: 5rem;
    background: var(--first-color);
}

.pop-up form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pop-up button, .pop-up input {
    padding: 1rem 1.5rem;
    margin: .5rem 0;
    width: 100%;
}

.pop-up input {
    border: 1px solid var(--second-color);
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
    width: 100%;
}

.video {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.screen {
    height: 100%;
}

.movie-url-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.movie-url, .movie-btn {
    padding: .7rem;
    border-radius: .3rem;
    outline: none;
}

.movie-url {
    margin:  0 .3rem 0 0;
    flex: 2;
    border: 1px solid black;
}

.set-url-btn {
    margin:  0 0 0 .3rem;
    flex: .5;
    cursor: pointer;
}

.history-container {
    margin: .5rem 0;
    position: absolute;
    top: 10vh;
    right: 5%;
}

.history-events {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.event {
    margin: .5rem 0;
    border-radius: .5rem;
    padding: 1rem;
    color: var(--first-color);
    border: 1px solid var(--first-color);
} 

@media screen and (max-width: 972px) {
    
    body .video {
        align-items: center;

    }

    body .screen {
        height: auto;
        width: 100%;
    }
}