<%- include('./partials/header'); -%>
    <link rel="stylesheet" href="/styles/room.css" type="text/css"/>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
</head>
<body class="container">

    <header>
        <h1 class="logo"><a href="/"><span>WE</span>MOVIE</a></h1>
        <p class="room-code">Invite Friends <i class="fa-solid fa-share"></i></p>
    </header>

    <div class="pop-up-container">
        <div class="pop-up">
            <p>Welcome into the room!</p>
            <form>
                <input type="text" placeholder="Username" required autocomplete="off">
                <button type="submit" class="bg-fcolor-btn">Join</button>
            </form>
        </div>
    </div>

    <main class="screen-container">
        <div class="video-container">
            <video class="screen" playsinline src="/assets/videos/default.mp4" controls></video>
        </div>
        <div class="members-container">
            <ul class="members">
            </ul>
        </div>
        <div class="video-input-container">
            <form class="movie-url-form">
                <input class="movie-url" autocomplete="off" placeholder="URL Video in formato .MP4" type="text" name="movie-url"/>
                <button class="set-url-btn bg-fcolor-btn" type="submit">Invio</button>
            </form>
        </div>
    </main>

    <div class="history-container">
        <ul class="history-events">

        </ul>
    </div>

    <script src="/scripts/room.js" type="module"></script>

<%- include('./partials/footer'); -%>