<%- include('./partials/header'); -%>
    <link rel="stylesheet" href="/styles/room.css" type="text/css"/>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
</head>
<body class="container">

    <div class="movie-container">

        <p class="room-code"><%= roomId %></p>

        <video class="video" src="/assets/videos/default.mp4" controls></video>

        <form class="movie-url-form">
            <input class="movie-url" autocomplete="off" placeholder="URL Video in formato .MP4" type="text" name="movie-url"/>
            <button class="movie-btn" type="submit">Invio</button>
        </form>
    </div>

    <div class="history-container">
        <ul class="history-events">

        </ul>
    </div>

    <script src="/scripts/room.js"></script>

<%- include('./partials/footer'); -%>